<% include partials/navTopC.ejs %>
<% include partials/head.ejs %>
<% include partials/headerC.ejs %>
<% include ./partials/panier %>

<!-- Contenu-->
<h2 class='text-center pageTitle'>Profil de <%= session.fname %> <%= session.name %></h2>
<div class='titleDecoration'></div>

<section class="container foods">
    <div class="row">
        <div class="col">
            <h2>Mes infos</h2>
            <ul>
                <li>Nom : <%= session.name %></li>
                <li>Prenom : <%= session.firstname %></li>
                <li>Numero de telephone : <%= session.tel %></li>
                <li>Adresse E-mail : <%= session.mail %></li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
</section>

<!--Fin contenu-->
<% include ./partials/footer %>