<% include ./partials/head %>
<% include ./partials/navTopC %>
<% include ./partials/headerD %>
<% include ./partials/panier %>

<!-- Contenu-->
<h2 class='text-center pageTitle'>Profil de <%= infosClient.firstname %> <%= infosClient.name%></h2>
<div class='titleDecoration'></div>

<section class="container foods">
    <div class="row">
        <div class="col">
            <h2>Mes infos</h2>
            <ul>
                <li>Nom : <%- session.name%></li>
                <li>Prenom : <%- session.firstname%></li>
                <li>Numero de telephone : <%- infos.tel %></li>
                <li>Adresse E-mail : <%- infos.mail %></li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
</section>

<!--Fin contenu-->
<% include ./partials/footer %>