<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Livreur</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Service livraison</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numero de commande</th>
					<th scope="col">Montant total</th>
					<th scope="col">Date de commande</th>
					<th scope="col">Confirmation client</th>
					<th scope="col">Livré</th>
					<th scope="col">Infos </th>
				</tr>	
			</thead>
			<tbody>
			<% factures.forEach(function (facture) {%>
			<tr>
				<td><%= facture.numComm%></td>
				<td class="text-right"><%= facture.price%> frs</td>
				<td><%= facture.dateCom%></td>
				<td><%if (facture.livre === 1) {%>Confirmé<%} else {%>Pas encore confirmé<%}%></td>
				<td>
					<% if (facture.status === 1) {%>
						Deja livré
					<%} else { %>
						<button class="btn btn-success confirmL" id="<%= facture.idFact%>">Confirmer livraison</button>
					<% } %>
				</td>
				<td>
					<a href="/factL/<%= facture.idFact %>/<%= facture.price %>/<%=facture.numComm%>" class="btn btn-block btn-link">Plus...</a>
				</td>
				<tr>
			<% }); %>
			</tbody>
		</table>
	</div>

<script src="/socket.io/socket.io.js"></script>s
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="public/script.js"></script>
</body>
</html>